<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :song_name %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_area :artist, id: :song_artist %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :song_genre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :song_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
