<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :album_name %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_area :artist, id: :album_artist %>
  </div>

  <div class="field">
    <%= form.label :numberofsongs %>
    <%= form.number_field :numberofsongs, id: :album_numberofsongs %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :album_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
